.sign-up {
    padding: 75px 250px;
    background-color: #dbe2f6;
    height: 100vh;
    font-family: var(--exp-font-family);
    .sign-up-wrapper {
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
        .checkbox {
            input {
                border-color: var(--exp-primary-color);
            }
            label{
                font-size: small;
                color: var(--exp-primary-color);
            }
        }
        .login{
            h5{
                opacity: 0.8;
                font-size:medium;
            }
            a{
                text-decoration: none;
                color: var(--exp-primary-color);
            }
        }
    }
    .signup-field {
        &::focus {
            color: #014f86;
        }
        label {
            color: #014f86;
        }
    }
    .code-button {
        background-color: var(--exp-primary-color);
        &:hover {
            background-color: var(--exp-primary-color);
        }
    }
    .sign-up-img-content {
        display: flex;
        flex-direction: column;
        color: white;
        width: 100vh;
        .img-size{
            display: flex;
            align-items: start;
            padding: 20px;
        }
        .img-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            .title{
                margin-bottom: 0px;
            }
            .content{
                opacity: 0.6;
                padding: 0px 20px;
            }
        }
        .copyright {
            opacity: 0.5;
        }
    }
}


