.signup-container {
    display: flex;
    margin: 50px;
    justify-items: center;
    /* height: 100%; */
    /* background-size: cover;   */
}
  
.signup-section {
    flex: 1;
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-section form {
    display: flex;
    flex-direction: column;
  }
  
.signup-section label {
    margin-bottom: 5px;
}
  
.signup-section input {
    margin-bottom: 10px;
    padding: 5px;
}
  
.signup-section button {
    margin-top: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
  
.signup-section p {
   
    margin-top: 20px;
    cursor: pointer;
}
  
.signup-section p:hover {
    text-decoration: underline;
}

 /* .second-half-section h2 {
    align-self: flex-start;
    
} */
.second-half-section {
    width: 50%;
    background-image: url(../images/sign.png);
    border-radius: 20px;
    color: white;
    padding: 20px;
    /* size: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center; 
}
.second-half-section p {
    margin: 0;
    /* text-align: center;
    font-size: smaller; */
    /* padding-left: 8px; */
    
} 
.second-half-section h5{
    font-size: x-large;
} 
.second-half-section p:last-child {
    align-self: center;
}