.toast-msg {
    display: flex;
    justify-self: flex-start;
    opacity: 1;
}

.exp-toast {
    --bs-toast-bg: var(--exp-primary-color);
    --bs-toast-color: white;
    z-index: 3;
}

.toast-container {
    --bs-toast-zindex: 5000;
}