#head {
    padding: 0px 16px;
    #h4text{
        color:#014f86;
        font-family: "Poppins"
    }
    
    #h6text
    {
        color: rgb(112, 112, 112);
    }
}

.toggle-btn-group {
    .MuiButtonBase-root {
        font-family: "Poppins" !important;
    }
    .Mui-selected {
        color: #014f86 !important;
        font-weight: 600 !important;
    }
}

