body{
    background-color: #dbe2f6;
    color: #014f86;
}


.container
{
    
   
    justify-content: center;
    align-items: center;
}
.row
{
    justify-content: center;
    align-items: center;
}
#col1
{
    background-color: rgb(255, 255, 255);
    max-width: 50%;
    border-radius: 15px;
    
}

#button
{
    background-color: #014f86;
    color: white;
}