.reset-password {
    height: 100vh;
    background-color: #dbe2f6;
    .text-start {
        height: 60px;
    }
    .paper {
        display: flex;
        flex-direction: column;
        h3 {
            color: var(--exp-primary-color);
        }
        #button {
            background-color: var(--exp-primary-color);
            &:hover {
                background-color: var(--exp-primary-color);
            }
        }
        a {
            color: var(--bs-heading-color);
            text-decoration: none;
        }
        .alert-grid {
            display: flex;
            justify-content: center;
            .alert {
                width: 50%;
                display: flex;
                justify-content: center;
            }
        }
        .confirm-password {
            padding-top: 0px;
        }
    }
}