.forgot-password {
    height: 100vh;
    background-color: #dbe2f6;
    .paper {
        display: flex;
        flex-direction: column;
        h3 {
            color: var(--exp-primary-color);
        }
        #button {
            background-color: var(--exp-primary-color);
            &:hover {
                background-color: var(--exp-primary-color);
            }
        }
        a {
            color: var(--bs-heading-color);
            text-decoration: none;
        }
    }
}